<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Contact\Controller\Index\Post" type="GyanMatrix\Contact\Controller\Index\Post" />
    <preference for="GyanMatrix\Contact\Api\ContactInterface" type="GyanMatrix\Contact\Model\Api\Contact"/>
    <preference for="GyanMatrix\Contact\Api\ContactusManagementInterface" type="GyanMatrix\Contact\Model\ContactusManagement"/>
</config>


